@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Nav-Bar {
  background-color: #6e2389;

  display: flex;
  padding: 20px;

  justify-content: space-between;

  margin: auto;
  margin-top: 0px;

  height: "";
  width: 100%;
}

.Logo {
  display: flex;

  padding: 10px;
  gap: 20px;

  margin: auto;
  margin-left: 0px;
}

#TrollFace {
  margin: auto;
  margin-left: 0px;

  height: 50px;
  width: 55px;
}

#Brand {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;

  margin: auto;
}

#Project-Definition {
  color: white;
  font-family: Inter, sans-serif;
  font-size: "";
  font-weight: "";

  margin: auto;
  margin-right: 0px;
}

main {
  padding: 36px;
}




.Form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.Form--Input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.Form-Button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  border: 1px solid black;
  max-width: 100%;
 
}